################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/bin
/Common/obj
/Contract/obj
/Contract/bin
/Installer/Debug
/Installer/Release
/Miner-UWP
/Miner-WPF/bin
/Miner-WPF/obj
/Ulord/obj
/Ulord/bin
/Test/obj
/Test/bin
/.vs/Miner/v15/sqlite3
/.vs/Miner/v15/Server/sqlite3
